<div class="col-12">
  <h5>My password</h5>
  <hr class="mt-2 mb-3">
</div>
<p-toast></p-toast>
<form *ngIf="passwordForm" class="row" [formGroup]="passwordForm" (ngSubmit)="onSubmit()" ngNativeValidate>
  <div class="field col-6">
      <label [ngClass]="{ 'is-required':customValidators.formControlIsRequired(passwordForm, ('oldPassword'))}">Old password</label>
      <p-password  formControlName="oldPassword" ></p-password>
    <small class="field-error" *ngIf="passwordForm.get('oldPassword').touched && passwordForm.get('oldPassword').errors">
      <div *ngIf=" passwordForm.get('oldPassword').hasError('required')">Old Password is required</div>
    </small>
  </div>
  <div class="field col-6">
  </div>
  <div class="field col-6">
    <label [ngClass]="{ 'is-required':customValidators.formControlIsRequired(passwordForm, ('newPassword'))}">New Password</label>
    <p-password  formControlName="newPassword"  [toggleMask]="true" >
    </p-password>
    <small *ngIf="passwordForm.get('newPassword').touched && passwordForm.get('newPassword').errors">
        <div class="field-error" *ngIf="passwordForm.get('newPassword').hasError('required')">Password is required</div>
        <div [style]="{'white-space': 'pre-line', 'list-style': 'none'}" [ngClass]="passwordForm.get('newPassword').hasError('passwordError') ? 'field-error': '' ">
          {{user.passwordMessage}}
      </div>
    </small>
  </div>
  <div class="field col-6">
    <label for="confirmPassword"
           [ngClass]="{ 'is-required':customValidators.formControlIsRequired(passwordForm, ('confirmPassword'))}">Confirm
      the new password</label>
    <p-password id="confirmPassword" formControlName="confirmPassword" [toggleMask]="true">
    </p-password>
    <small class="field-error"  *ngIf="passwordForm.get('confirmPassword').touched && passwordForm.get('confirmPassword').errors">
      <div *ngIf="passwordForm.get('confirmPassword').hasError('required')">Confirm Password is required</div>
      <div *ngIf="passwordForm.get('confirmPassword').hasError('mustMatch')">Passwords must match</div>
    </small>
  </div>
  <div class="col-12">
    <hr class="mt-2 mb-3">
    <div class="d-flex flex-wrap justify-content-between align-items-center rightDirection">
      <button pButton type="submit" class="p-button-raised p-button-rounded">
        Update my password
      </button>
    </div>
  </div>
  <p-dialog header="Attention" [(visible)]="displayModal" [modal]="true" [style]="{width: 'auto', height: 'auto'}"
            [baseZIndex]="10000"
            [draggable]="false" [resizable]="false" [closable]="false">
    <hr class="mt-2 mb-3">
    <div class="ui-dialog-content ui-widget-content" style="height: auto;"><label
      class="ui-outputlabel ui-widget">Password changed successfully.</label>
      <br><br><label class="ui-outputlabel ui-widget">Thank you for
        reconnecting with your new password.</label>
      <br></div>
    <hr class="mt-2 mb-3">
    <div class="d-flex flex-wrap justify-content-between align-items-center rightDirection">
      <button data-toast (click)="logout()"
              pButton type="submit" class="p-button-raised p-button-rounded"
      >I disconnect
      </button>
    </div>
  </p-dialog>
</form>
