<form *ngIf="passwordForm" class="row" [formGroup]="passwordForm" (ngSubmit)="onSubmit()" ngNativeValidate>
  <div class="col-12">
    <p-password placeholder="New Password"  formControlName="newPassword" [feedback]="false" [toggleMask]="true" >
    </p-password>
    <small *ngIf="passwordForm.get('newPassword').touched && passwordForm.get('newPassword').errors">
      <div class="field-error" *ngIf="passwordForm.get('newPassword').hasError('required')">Password is required</div>
      <div
        [style]="{'white-space': 'pre-line', 'list-style': 'none'}" [ngClass]="passwordForm.get('newPassword').hasError('passwordError') ? 'field-error': '' ">
        {{passwordMessage}}
      </div>
    </small>
  </div>
  <div class="col-12">
    <p-password id="confirmPassword" placeholder="Confirm the new password" formControlName="confirmPassword" [feedback]="false" [toggleMask]="true">
    </p-password>
    <small class="field-error"  *ngIf="passwordForm.get('confirmPassword').touched && passwordForm.get('confirmPassword').errors">
      <div *ngIf="passwordForm.get('confirmPassword').hasError('required')">Confirm Password is required</div>
      <div *ngIf="passwordForm.get('confirmPassword').hasError('mustMatch')">Passwords must match</div>
    </small>
  </div>
  <div class="col-md-12 text-right">
     <button pButton type="submit" class="p-button-raised p-button-rounded">Confirm</button>
  </div>
</form>
