<p-dialog [(visible)]="displayDialog" [style]="{width: '450px'}" (onHide)="hideDialog()" header="Forgotten password" [modal]="true" styleClass="p-fluid">
  <ng-template pTemplate="content">
    <hr class="mt-2">
    <p>You have forgotten your password ?</p>
    <form role="form" name="myCompanyInformationForm" class="p-formgrid grid" id="onsubmit"
          [formGroup]="forgetPasswordFormGroup"
          (ngSubmit)="sendForgotPasswordRequest()" ngNativeValidate>
      <div class="col-12">
        <label>Please enter your user id :</label>
      </div>
      <div class="col-8">
        <input pInputText formControlName="userId" placeholder="User"
               [ngClass]="{ 'is-invalid': submitted && forgetPasswordFormGroup.get('userId').touched && !forgetPasswordFormGroup.get('userId').valid }"
               type="text" id="userId">
        <small class="field-error"
               *ngIf="!forgetPasswordFormGroup.get('userId').valid && forgetPasswordFormGroup.get('userId').touched">
          User ID must be specified
        </small>
      </div>
      <div class="col">
        <button [disabled]="loading" style="width: fit-content" pButton type="submit" class="p-button-raised p-button-rounded" >
          <span *ngIf="!loading">Send</span>
          <span *ngIf="loading"><i style="margin-right: 5px" class="fa fa-spinner fa-spin " > </i>Send</span>
        </button>
      </div>
    </form>
  </ng-template>
</p-dialog>
<p-toast></p-toast>
