<footer class="site-footer py-4">
    <div class="container-fluid">
        <div class="row">

            <div class="col-sm-12 col-md-2 footer__logo">
            <img src="assets/template/images/logo.svg" alt="Generix Invoices Services" class="footer__img">

            </div>

            <div class="col-sm-12 col-md-3 footer__blc">
                <section class="widget widget-links widget-light-skin">
                    <h3 class="widget-title">Legals mentions</h3>
                    <ul>
                        <li><a href="https://www.generixgroup.com/en/page/terms-sales" target="_blank">General terms</a></li>
                        <li><a href="https://gdpr.generix.biz" target="_blank">RGPD Compliance</a></li>

                    </ul>
                </section>
            </div>

            <div class="col-sm-12 col-md-3 footer__blc">
                <section class="widget widget-links widget-light-skin">
                    <h3 class="widget-title">Generixgroup</h3>
                    <ul>
                        <li><a href="https://www.generixgroup.com/en" target="_blank">About</a></li>
                        <li><a href="https://www.generixgroup.com/en/page/our-clients" target="_blank">Partners</a></li><li>
                            <a href="https://www.linkedin.com/company/generix/" target="_blank" style="width:15px!important">
                                <i class="pi pi-linkedin"></i></a>
                            <a href="https://twitter.com/@GenerixGroupFR" target="_blank" style="width:15px!important">
                                <i class="pi pi-twitter"></i></a>
                            </a>
                            <a href="https://www.facebook.com/GenerixGroupFR/" target="_blank" style="width:15px!important">
                                <i class="pi pi-facebook"></i></a>
                            </a>
                            <a href="https://www.youtube.com/channel/UCXSMOJZ8Z3yPi74d4xkYeCg" target="_blank" style="width:15px!important">
                                <i class="pi pi-youtube"></i></a>
                            </a>
                          </li>
                    </ul>
                </section>
            </div>

            <div class="col-sm-12 col-md-3 footer__blc">
                <section class="widget widget-links widget-light-skin">
                    <h3 class="widget-title">Solutions </h3>
                    <ul>
                        <li><a href="https://www.generixgroup.com/en/solutions/generix-edi-services" target="blank">EDI Plateform</a></li>
                        <li><a href="https://www.generixgroup.com/en/solutions/generix-invoice-services" target="blank">E-invoice</a></li>
                        <li><a href="https://www.generixgroup.com/en/solutions/generix-wms-warehouse-management" target="blank">WMS</a></li>
                        <li><a href="https://www.generixgroup.com/en/solutions/tms-transport-management" target="blank">TMS</a></li>
                    </ul>
                </section>
            </div>
        </div>
    </div>
</footer>
